*{
    font-family: 'Poppins', 'sans-serif';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.icon-nav{
    position: relative;
    color:#FFFFFF8C;
}
.icon-nav:hover{
    color: white;
}

.circle{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.829);
    color: white;
    text-align: center;
    font-size: 12px;
    top: 10px;
    right: 130px;
}

section{
    min-height:80vh;
}

/* style footer */
footer{
    background-color:#186F65;
    color: white;
    position: static;
    bottom: 0;
}
.d-flex{

}

.title-middle{
    style
}
